body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh; /* Fait en sorte que le corps prenne toute la hauteur de la fenêtre */
	display: flex;
}
.container {
	display: flex;
	flex: 1; /* Fait en sorte que le container prenne toute la hauteur du corps */
}
.menu {
	background-color: #e1ffc2;
	width: 250px;
	padding: 20px;
	box-sizing: border-box;
	height: 100%; /* Fait en sorte que le menu prenne toute la hauteur du container */
	border-right: 0.5px gray solid;
	margin-right: 25px;
	text-align: center;
}

.menu p {
	color: black;
}

.menu a {
	display: block;
	color: black;
	font-family: Arial, sans-serif;
	text-decoration: none;
	margin: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.menu a:hover {
	font-size: larger;
}
.menu a:visited {
	font-weight: bold;
}
.content {
	flex-grow: 1;
	padding: 20px;
}

.hrmenu {
	width: 70%;
	color: gray;
}

.id {
	background-color: olivedrab;
	border-radius: 15px;
	padding: 5px;
}

.logout {
	position: absolute;
	top: 87%;
	left: 80px;
}