form {
	width: 300px;
	margin: 0 auto;
	border: 2px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	background-color: #f9f9f9;
}
input[type="file"] {
	margin-bottom: 10px;
}
input[type="submit"] {
	background-color: #4caf50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}
input[type="submit"]:hover {
	background-color: #45a049;
}