table {
    border-collapse:collapse;
    width: 90%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(121, 175, 121);
}

button, input[type=submit] {
	background-color: rgb(121, 175, 121);
	text-decoration: none;
	color: black;
	border-radius: 25px;
	padding: 7px;
}

.colonneBtn {
	border: none;
	background-color: white;
}

/* Style pour la barre de recherche */
.search-input {
	padding: 8px;
	margin-bottom: 10px;
	width: 200px;
	border: 1px solid red;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=text] {
    width: 200px; /* Vous pouvez ajuster cette valeur selon vos préférences */
	float: left;
}

#tableHeader {
    position: sticky;
    top: 0;
    z-index: 1;
}

#code {
    position: sticky;
    left: 0;
    z-index: 0;
    background-color: rgb(121, 175, 121);
}